h1 
{
    text-align: center
}

.flex-box 
{
    background-color: lightgray;
    display: flex;
    justify-content: space-around;

}

#button
{
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    background-color: lightgray;
}

